@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Offline.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Rest.Model
@using Sms.Checklists.ViewModels
@using (Html.TemplateContext("$root")) {
    @using (Html.TemplateCondition("formReference().ReferenceType() == 'ServiceOrderChecklist'")) {
        <table style="width: 100%; page-break-inside: avoid;" class="m-t-20 m-b-20 break-word">
            <tr>
                <td class="col-xs-6 p-l-0 p-r-15 border-right border-light">
                    <!-- Customer Information -->
                    <div>
                        <b>@Html.Localize("Customer")</b>
                    </div>
                    <div class="p-l-5">
                        <div data-bind="text: Helper.Company.getDisplayName(CustomerContact())"></div>
                        <div data-bind="text: ServiceOrder().Street"></div>
                        <div>
                            <span data-bind="text: ServiceOrder().ZipCode"></span>
                            <span data-bind="text: ServiceOrder().City"></span>
                        </div>
                    </div>

                    <!-- Responsible User Information -->
                    <!-- ko if: ServiceOrderResponsibleUser() -->
                    <div class="p-t-5">
                        <div>
                            <b>@Html.Localize("ResponsibleUser")</b>
                        </div>
                        <div class="p-l-5">
                            <span data-bind="text: Helper.User.getDisplayName(ServiceOrderResponsibleUser())"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                </td>
                <td class="col-xs-6 p-l-15 p-r-0">
                    <!-- Dispatch Location Information -->
                    <!-- ko if: ServiceOrder().Name1() || ServiceOrder().Street() || ServiceOrder().ZipCode() || ServiceOrder().City() -->
                    <div>
                        <b>@Html.Localize("DispatchLocation")</b>
                    </div>
                    <div class="p-l-5">
                        <div data-bind="text: ServiceOrder().Name1"></div>
                        <div data-bind="text: ServiceOrder().Street"></div>
                        <div>
                            <span data-bind="text: ServiceOrder().ZipCode"></span>
                            <span data-bind="text: ServiceOrder().City"></span>
                        </div>
                    </div>
                    <!-- /ko -->

                    <!-- Installation Information -->
                    @using (Html.TemplateContext<ServiceOrderChecklistResponseViewModel>(x => x.Installation))
                    {
                        <!-- ko if: $data -->
                        <div class="p-t-5">
                            <div>
                                <!-- ko if: $root.MaintenanceOrderGenerationMode === 'OrderPerInstallation' -->
                                <b>@Html.Localize("Installation")</b>
                                <!-- /ko -->
                                <!-- ko if: $root.MaintenanceOrderGenerationMode === 'JobPerInstallation' -->
                                <b>@Html.Localize("ServiceOrderTime")</b>
                                <!-- /ko -->
                            </div>
                            <div class="p-l-5">
                                <span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    }

                    <!-- Order Number -->
                    <div class="p-t-5">
                        <div>
                            <b>@Html.Localize("OrderNo")</b>
                        </div>
                        <div class="p-l-5">
                            <span data-bind="text: ServiceOrder().OrderNo"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
     }
 }
