@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Offline.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Rest.Model
@using Sms.Checklists.ViewModels
@using (Html.TemplateContext("$root"))
{
    @using (Html.TemplateCondition("formReference().ReferenceType() == 'ServiceOrderChecklist'"))
    {
        <table style="width: 100%; page-break-inside: avoid; font-size: 13px;" class="m-t-20 m-b-20 break-word">
            <tr>
                <td class="col-xs-6 p-l-0 p-r-15 border-right border-light">
                    <!-- Customer Information -->
                    <div>
                        <b style="font-size: 13px;">@Html.Localize("Customer")</b>
                    </div>
                    <div class="p-l-5" style="font-size: 13px;">
                        <div data-bind="text: Helper.Company.getDisplayName(CustomerContact())" style="font-size: 13px;"></div>
                        <div data-bind="text: ServiceOrder().Street" style="font-size: 13px;"></div>
                        <div style="font-size: 13px;">
                            <span data-bind="text: ServiceOrder().ZipCode" style="font-size: 13px;"></span>
                            <span data-bind="text: ServiceOrder().City" style="font-size: 13px;"></span>
                        </div>
                        <div>
                            <span data-bind="text: window.Helper.Lookup.getLookupValue($parent.lookups.regions, ServiceOrder().RegionKey()), visible: ServiceOrder().RegionKey"></span>
                            <span data-bind="text: window.Helper.Lookup.getLookupValue($parent.lookups.countries, ServiceOrder().CountryKey()), visible: ServiceOrder().CountryKey"></span>
                        </div>
                    </div>

                    <!-- Responsible User Information -->
                    <!-- ko if: ServiceOrderResponsibleUser() -->
                    <div class="p-t-5">
                        <div>
                            <b style="font-size: 13px;">@Html.Localize("ResponsibleUser")</b>
                        </div>
                        <div class="p-l-5" style="font-size: 13px;">
                            <span data-bind="text: Helper.User.getDisplayName(ServiceOrderResponsibleUser())" style="font-size: 13px;"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                </td>
                <td class="col-xs-6 p-l-15 p-r-0">
                    <!-- Dispatch Location Information -->
                    <!-- ko if: ServiceOrder().Name1 || ServiceOrder().Street || ServiceOrder().ZipCode || ServiceOrder().City -->
                    <div>
                        <b style="font-size: 13px;">@Html.Localize("DispatchLocation")</b>
                    </div>
                    <div class="p-l-5" style="font-size: 13px;">
                        <div data-bind="text: ServiceOrder().Name1" style="font-size: 13px;"></div>
                        <div data-bind="text: ServiceOrder().Street" style="font-size: 13px;"></div>
                        <div style="font-size: 13px;">
                            <span data-bind="text: ServiceOrder().ZipCode" style="font-size: 13px;"></span>
                            <span data-bind="text: ServiceOrder().City" style="font-size: 13px;"></span>
                        </div>
                        <div>
                            <span data-bind="text: window.Helper.Lookup.getLookupValue($parent.lookups.regions, ServiceOrder().RegionKey()), visible: ServiceOrder().RegionKey"></span>
                            <span data-bind="text: window.Helper.Lookup.getLookupValue($parent.lookups.countries, ServiceOrder().CountryKey()), visible: ServiceOrder().CountryKey"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- Installation Information -->
                    @using (Html.TemplateContext<ServiceOrderChecklistResponseViewModel>(x => x.Installation))
                    {
                        <!-- ko if: $data -->
                        <div class="p-t-5">
                            <div>
                                <!-- ko if: $root.MaintenanceOrderGenerationMode === 'OrderPerInstallation' -->
                                <b style="font-size: 13px;">@Html.Localize("Installation")</b>
                                <!-- /ko -->
                                <!-- ko if: $root.MaintenanceOrderGenerationMode === 'JobPerInstallation' -->
                                <b style="font-size: 13px;">@Html.Localize("ServiceOrderTime")</b>
                                <!-- /ko -->
                            </div>
                            <div class="p-l-5" style="font-size: 13px;">
                                <span data-bind="text: Helper.Installation.getDisplayName($data)" style="font-size: 13px;"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    }

                    <!-- Order Number -->
                    <div class="p-t-5">
                        <div>
                            <b style="font-size: 13px;">@Html.Localize("OrderNo")</b>
                        </div>
                        <div class="p-l-5" style="font-size: 13px;">
                            <span data-bind="text: ServiceOrder().OrderNo" style="font-size: 13px;"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }
}
