@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal-header card-header ch-alt">
    <button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">@(Html.Localize("AddResources"))</h4>
</div>

<div class="modal-body card-body card-padding">
    <form>
        <!-- ko if: $root.userGroupSelector() -->
        <div class="fg-line">
            <label class="fg-label control-label" data-bind="tooltip: true" data-placement="bottom" title="@(Html.Localize("UserGroupFilter"))">
                @(Html.Localize("Usergroups")) (@(Html.Localize("Filter")))
            </label>
            <select class="form-control" id="usergroups_selection" data-bind="select2autocompleter2: { data: $root.selectedTeam, autocompleteOptions: { customFilter: $root.userGroupFilter.bind($root), table: 'Main_Usergroup', joins: ['Members'], mapDisplayObject: Helper.User.mapUsergroupForSelect2Display, onSelect: $root.OnTeamSelected.bind($root) } }">
            </select>
        </div>
        @(Html.Localize("or"))
        <a href="#" data-bind="click: $root.toggleUserGroupSelector">
            @(Html.Localize("Technician"))
        </a>
        <!-- /ko -->
        <!-- ko ifnot: $root.userGroupSelector() -->
        <div id="TechnicianResources" class="form-group">
            <div class="fg-line">
                <label class="fg-label control-label">@(Html.Localize("Technician"))</label>
                <select name="technicians" multiple="multiple" class="form-control" data-bind="select2autocompleter2: { data: $root.userIds, autocompleteOptions: { customFilter: $root.resourceFilter.bind($root), table: 'Main_User', mapDisplayObject: $root.mapUsersForSelect2Display, onSelect: $root.OnResourceSelected.bind($root) } }">
                </select>
            </div>
        </div>

        <div id="ToolResources" class="form-group">
            <div class="fg-line">
                <label class="fg-label control-label">@(Html.Localize("VehiclesAndTools"))</label>
                <select name="tools" multiple="multiple" class="form-control" data-bind="select2autocompleter2: { data: $root.toolIds, autocompleteOptions: { customFilter: $root.toolFilter.bind($root), table: 'CrmArticle_Article', mapDisplayObject: $root.mapToolsForSelect2Display, onSelect: $root.OnResourceSelected.bind($root) } }">
                </select>
            </div>
        </div>

        @(Html.Localize("or"))
        <a href="#" data-bind="click: $root.toggleUserGroupSelector">
            @(Html.Localize("Usergroups"))
        </a>
        <!-- /ko -->
    </form>
</div>

<div class="modal-footer card-header ch-alt p-15">
    <button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-dismiss="modal" data-bind="click: cancel, disable: loading">
        @(Html.Localize("Cancel"))
    </button>
    <button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
        @(Html.Localize("Save"))
    </button>
</div>