@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">@(Html.Localize("EditProfile"))</h4>
</div>
<div class="modal-body card-body card-padding">
	<form data-bind="with: profile">
		<ul class="tab-nav tn-justified" role="tablist" tabindex="1">
			<li role="presentation" class="active">
				<a href="#tab-general-settings" aria-controls="tab-general-settings" role="tab" data-toggle="tab" aria-expanded="true">
					@(Html.Localize("General"))
				</a>
			</li>
			<li role="presentation">
				<a href="#tab-timeline-settings" aria-controls="tab-timeline-settings" role="tab" data-toggle="tab" aria-expanded="true">
					@(Html.Localize("Timeline"))
				</a>
			</li>
			<li role="presentation">
				<a href="#tab-pipeline-settings" aria-controls="tab-pipeline-settings" role="tab" data-toggle="tab" aria-expanded="true">
					@(Html.Localize("Pipeline"))
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane animated fadeIn active" id="tab-general-settings">
				<form-element params="value: Name, caption: 'Name', type: 'textarea'"></form-element>
				<form-element params="value: DefaultProfile, caption: 'DefaultProfile', type: 'checkbox', disable: DefaultProfile"></form-element>
				<!-- ko with: ClientConfig -->
				<div class="row">
					<div class="col-md-6 col-xs-6">
						<form-element id="LowerBoundDate" params="value: LowerBound, caption: 'LowerBound', type: 'select'">
							<select name="LowerBoundDate" class="form-control" data-bind="options: $root.GetDateOptions(), optionsText: 'Name', optionsValue: 'Value', value: value"></select>
						</form-element>
					</div>
					<div class="col-md-6 col-xs-6">
						<form-element id="UpperBoundDate" params="value: UpperBound, caption: 'UpperBound', type: 'select'">
							<select name="UpperBoundDate" class="form-control" data-bind="options: $root.GetDateOptions(), optionsText: 'Name', optionsValue: 'Value', value: value"></select>
						</form-element>
					</div>
				</div>
				<form-element id="EnablePlanningConfirmations" params="value: EnablePlanningConfirmations, caption: 'EnablePlanningConfirmations', type: 'checkbox'" data-bind="tooltip: true" data-placement="left" title="@(Html.Localize("EnablePlanningConfirmationsTooltip"))"></form-element>
				<form-element id="LoadClosedServiceOrders" params="value: LoadClosedServiceOrders, caption: 'LoadClosedServiceOrders', type: 'checkbox'"></form-element>
				<form-element id="AllowSchedulingForPast" params="value: AllowSchedulingForPast, caption: 'AllowSchedulingForPast', type: 'checkbox'"></form-element>
				<!-- /ko -->

				<div class="row">
					<div class="col-md-12 form-group">
						<label class="c-black b-0 f-500 f-14">
							<span>@(Html.Localize("ServiceOrderDispatch"))</span>
						</label>
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<form-element params="value: $root.serviceOrderDispatchDefaultDuration, caption: 'DefaultDuration', type: 'durationPicker'"></form-element>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<form-element params="value: $root.serviceOrderDispatchLimitMaximumDuration, caption: 'LimitMaximumDuration', type: 'checkbox'"></form-element>
							</div>
						</div>
						<!-- ko if: $root.serviceOrderDispatchLimitMaximumDuration -->
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<form-element params="value: $root.serviceOrderDispatchMaximumDuration, caption: 'MaximumDuration', type: 'durationPicker'"></form-element>
							</div>
							<div class="col-md-6 col-xs-6">
								<form-element params="value: ClientConfig().ServiceOrderDispatchIgnoreCalculatedDuration, caption: 'IgnoreCalculatedDuration', type: 'checkbox'"></form-element>
								<form-element params="value: ClientConfig().ServiceOrderDispatchForceMaximumDuration, caption: 'ForceMaximumDuration', type: 'checkbox'"></form-element>
								<div data-bind="validationElement: $root.serviceOrderDispatchMaximumDurationSelectedOptions">
									<small class="help-block pre-line" data-bind="validationMessage: $root.serviceOrderDispatchMaximumDurationSelectedOptions"></small>
								</div>
							</div>
						</div>
						<!-- /ko -->
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-timeline-settings">
				<form-element id="resource-group" params="value: $root.getSelectedPropertiesOfResource.call($root, $root.selectedResourceGroups()), caption: 'ResourceGroup', type: 'select'">
					<select name="resource-group" class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value , autocompleteOptions: { table: () => database.SmsScheduler_Profile.GetGroupableResourceProperties(), mapDisplayObject: $root.mapPropertyForSelect2DisplayOfResource } }, selectedOptions: $root.selectedResourceGroups">
					</select>
				</form-element>
				<!-- ko with: ClientConfig -->
				<form-element id="ResourceRowHeight" params="value: ResourceRowHeight, caption: 'ResourceRowHeight', type: 'number', min : 15, max: 20"></form-element>
				<form-element id="FirstRow" params="value: $root.dataTextFilter, caption: 'DataForFirstRow', type: 'select'">
					<select name="FirstRow" class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, selectedOptions: $root.dataForFirstRow">
					</select>
				</form-element>
				<form-element id="SecondRow" params="value: $root.dataTextFilter, caption: 'DataForSecondRow', type: 'select'">
					<select name="SecondRow" class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, selectedOptions: $root.dataForSecondRow">
					</select>
				</form-element>
				<form-element id="ThirdRow" params="value: $root.dataTextFilter, caption: 'DataForThirdRow', type: 'select'">
					<select name="ThirdRow" class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, selectedOptions: $root.dataForThirdRow">
					</select>
				</form-element>
				<button type="button" class="btn btn-xs btn-default pull-right" data-bind="click: $root.addResourceTooltipsSeparator, disable: $root.loading">
					@(Html.Localize("AddSeparator"))
				</button>
				<form-element id="ResourceTooltip" params="value: $root.resourceTooltipProperties, caption: 'ResourceTooltip', type: 'select'">
					<select class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, selectedOptions: $root.selectedResourceTooltips">
					</select>
				</form-element>
				<!-- /ko -->
				<div class="row">
					<div class="col-sm-12 form-group">
						<label class="control-label">
							<span>@(Html.Localize("NonWorkingTime"))</span>
						</label>
						<button type="button" class="btn btn-xs btn-default pull-right" data-bind="click: $root.addNonWorkingHour, disable: $root.loading">
							@(Html.Localize("AddNonWorkingTime"))
						</button>
						<div data-bind="foreach: $root.nonWorkingHours">
							<div class="row">
								<div class="col-md-3 col-xs-6">
									<form-element params="value: From, caption: 'From', type: 'timePicker', datePickerOptions: { config: { format: 'HH:mm', stepping: parseInt(Sms.Scheduler.Settings.WorkingTime.MinutesInterval) } }"></form-element>
								</div>
								<div class="col-md-3 col-xs-6">
									<form-element params="value: To, caption: 'To', type: 'timePicker', datePickerOptions: { config: { format: 'HH:mm', stepping: parseInt(Sms.Scheduler.Settings.WorkingTime.MinutesInterval) } }"></form-element>
								</div>
								<div class="col-md-3 col-xs-6">
									<button type="button" class="btn btn-xs btn-default" data-bind="click: $root.removeNonWorkingHour, disable: $root.loading">
										@(Html.Localize("Remove"))
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-xs-8" data-bind="validationElement: $root.nonWorkingHours">
								<small class="help-block pre-line" data-bind="validationMessage: $root.nonWorkingHours"></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-pipeline-settings">
				<!-- ko with: ClientConfig -->
				<form-element id="PipelineFirstRow" params="value: PipelineFirstLine, caption: 'PipelineFirstLine', type: 'select'">
					<select name="PipelineFirstRow" class="form-control" data-bind="select2autocompleter: { data: $root.serviceOrderHeadTooltipProperties, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, value: value">
					</select>
				</form-element>
				<form-element id="PipelineSecondRow" params="value: PipelineSecondLine, caption: 'PipelineSecondLine', type: 'select'">
					<select name="PipelineSecondRow" class="form-control" data-bind="select2autocompleter: { data: $root.serviceOrderHeadTooltipProperties, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, value: value">
					</select>
				</form-element>
				<!-- /ko -->
				<form-element id="pipeline-group" params="value: $root.getSelectedProperties.call($root, $root.selectedGroups()), caption: 'PipelineGroup', type: 'select'">
					<select name="pipeline-group" class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value , autocompleteOptions: { table: () => database.CrmService_ServiceOrderHead.GetGroupableProperties(), mapDisplayObject: $root.mapPropertyForSelect2Display } }, selectedOptions: $root.selectedGroups">
					</select>
				</form-element>
				<button type="button" class="btn btn-xs btn-default pull-right" data-bind="click: $root.addServiceOrderTooltipsSeparator, disable: $root.loading">
					@(Html.Localize("AddSeparator"))
				</button>
				<form-element id="ServiceOrderTooltip" params="value: $root.serviceOrderHeadTooltipProperties, caption: 'ServiceOrderTooltip', type: 'select'">
					<select class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, selectedOptions: $root.selectedServiceOrderTooltips">
					</select>
				</form-element>
				<button type="button" class="btn btn-xs btn-default pull-right" data-bind="click: $root.addServiceOrderDispatchTooltipsSeparator, disable: $root.loading">
					@(Html.Localize("AddSeparator"))
				</button>
				<form-element id="ServiceOrderDispatchTooltip" params="value: $root.serviceOrderDispatchTooltipProperties, caption: 'ServiceOrderDispatchTooltip', type: 'select'">
					<select class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: value, optionsText: Helper.Scheduler.Tooltips.GetPropertyTranslation, optionsValue: 'id' }, selectedOptions: $root.selectedServiceOrderDispatchTooltips">
					</select>
				</form-element>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-dismiss="modal" data-bind="click: cancel, disable: loading">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>